DATABASE_URL="postgresql://usuario:senha@host/neondb?sslmode=require"
CLOUDINARY_CLOUD_NAME="seu-cloud-name"
CLOUDINARY_API_KEY="sua-api-key"
CLOUDINARY_API_SECRET="seu-api-secret"
CLOUDINARY_FOLDER_NAME="minha-cartinha"
